* {
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/* to change */
.box {
    width: 100%;
    margin-bottom: 30px;
}
.boxes-container::after {
    contain: "";
    display: block;
    clear: both;
}
.border {
    border: 0.5px solid rgba(0, 0, 0, 0.219);
}
.center {
    text-align: center;
}
.box-title, .box-button {
    padding: 20px;
}
.box-price {
    padding: 40px;
}
.box-tech-1, .box-tech-2, .box-tech-3, .box-tech-4 {
    padding: 20px;
}
.box-price p {
    margin: 0;
}
.box-button button {
    background-color: rgb(0, 70, 0);
    font-weight: 600;
    color: white;
    width: 109px;
    height: 40px;
    border-radius: 20px;
}
.box-title {
    font-size: 30px;
}
.box-price .price {
    font-size: 30px;
    font-weight: 600;
}
.color-green {
    color: rgb(0, 70, 0);
}
.color-yellow {
    color: yellow;
}
.color-red {
    color: red;
}
.color-blue {
    color: blue;
}
/*tablet*/
@media(min-width: 768px) {
    .box {
        width: calc(50% - 20px);
        float: left;
        margin: 10px 10px 30px;
    }
}
/*laptop*/
@media(min-width: 1024px) {
    .box {
        width: calc(25% - 20px);
    }
}
